/* All main css (used in more then 1 component) */

* {
    user-select: none;
}

/* Background */
.Background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}
/* Duck Title */
.duckTitle {
    position: relative;
    font-family: 'Kumar One', cursive;
    font-size: 70px;
    text-align: center;
    cursor: default;
    animation: mainMenuText2 4s;
}

/* All settings button */
.settingsButton {
    position: absolute;
    top: 5%;
    left: 95%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    animation: mainMenuText 4s;
    z-index: 1;
}

.settingsButton:hover {
    top: 4.5%;
    left: 94.75%;
    width: 50px;
    height: 50px;
    filter: drop-shadow(0px 0px 2px grey);
}

.settingsMenu {
    position: absolute;
    top: 18%;
    left: 82%;
    width: 300px;
    height: 350px;
    color: rgb(0, 0, 0);
    border-radius: 10%;
    text-shadow: 0px 0px 2px  white;
    border: solid 1px rgba(0, 0, 0, 0.822);
    background-color: rgba(128, 128, 128, 0.623);
    display: none;
    z-index: 1;
}

.settingsText {
   text-align: center;
}

.settingsText2 {
    width: max-content;
    cursor: pointer;
}

.settingsTextON:hover {
    font-size: 27px;
    top: -69px;
    left: -62
}

.settingsTextON {
    position: relative;
    top: -64px;
    left: -60px;
    width: 0px;
    float: right;
}

.testFrame {
    display: none;
}

/* */
.basicShopLevelsCreditsTextDiv {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: auto;
    display: none;
    z-index: 0;
}

/* All the Titles of the pages */
.basicTitles2 {
    position: relative;
    width: max-content;
    font-family: 'Kumar One', cursive;
    font-size: 80px;
    margin: auto;
}

/* All the backs of the pages */
.basicBacks {
    position: relative;
    width: max-content;
    height: max-content;
    font-family: 'Kumar One', cursive;
    font-size: 60px;
    margin: auto;
    cursor: pointer;
    top: 680px;
    z-index: 1;
}



/* All css about the main menu */

.mmMenu {
    position: absolute;
    left: 50%;
    margin-left: -128.315px;
    line-height: 120px;
    width: max-content;
    height: max-content;
}

.mmTitle {
    position: relative;
    width: max-content;
    font-family: 'Kumar One', cursive;
    font-size: 60px;
    margin: auto;
    cursor: pointer;
    animation: mainMenuText 4s;
}



/* All css about the shop menu */

.sGunButton {
    position: absolute;
    cursor: pointer;
    width: 450px;
    height: 450px;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    background-color: transparent;
    left: 17.5%;
}

.sSkillButton {
    left: 60%;
}

.sGunButtonTitle {
    position: absolute;
    width: max-content;
    font-family: 'Kumar One', cursive;
    font-size: 40px;
    margin-left: -66px;
    left: 50%;
}


/* All css about the Levels menu*/



/* All css about the Credits menu*/


.cBasicText {
    position: absolute;
    font-size: 30px;
    font-family: 'Kumar One', cursive;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 2px  white;
    width: 200px;
}

.cCreatorsNames {
    top: 230px;
    left: 20%;
    font-size: 20px;
}

.cSound {
    left: 20%;
}

.cCreators {
    left: 35%;
}

.cDesign {
    left: 50%;
}

.cIdeas {
    left: 65%;
}







@keyframes mainMenuText {
    0% {opacity: 0;}
    30% {opacity: 0;}
    99% {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes mainMenuText2 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}