.Container {
    position: absolute;
    width: 80%;
    height: 80%;
    border: solid 3px;
}

.box {
    position: flex;
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: red;
}